a{
    text-decoration: none;
}

table{
    margin: 20px;
}


thead > tr {
    background-color: yellow;
}

tbody tr:nth-child(even){
    background-color: rgba(255, 255, 0, 0.672);
}
tbody tr:nth-child(odd){
    background-color: rgba(0, 255, 30, 0.672);
}


table, td{
    border: 1px solid black;
    border-collapse: collapse;
}

td{
    text-align: center;
    font-size: 20px;
}

.rotate2 .rotate{
  vertical-align:bottom;
  text-align:center;
}

td span{
  -ms-writing-mode: tb-rl;
  -webkit-writing-mode:vertical-rl;
  writing-mode: vertical-rl;
  transform:rotate(180deg);
  white-space: nowrap;
}

.d_tb{
    padding: 5px;
    margin: 20px;
    border-top: 3px solid blueviolet;
    border-right: 4px dotted yellowgreen;
    border-bottom: 5px dashed red;
    border-left: 6px double orange;
    width: max-content;
    border-radius: 20% 15px 20% 15px;
}



div > div p:first-child > a {
    border: 1px solid red;
    background-color: yellow;
    color: black;
    padding: 3px;
}

div > div p:nth-child(2n) > a {
    border: 1px solid orange;
    background-color: green;
    color: hotpink;
    padding: 3px;
}

#text > a{
    border: 1px solid yellow;
    background-color: blue;
    color: yellow;
    padding: 3px;
}

#text + a{
    border: 2px solid black;
    background-color: gray;
    color: black;
    padding: 3px;
}

.a_b{
    margin: 40px;
}

.a_b::before{
    content: "Прямоугольник";
}
.a_b::after{
    content: "Прямоугольник";
}